
    
    <%- include('../header.ejs') -%>
    <h1><%= run_details.name %></h1>
    <p><b>Run Type: </b><%= run_details.run_type %></p>
    <p><b>Date: </b><%= run_details.date %></p>
    <p><b>Location: </b><%= run_details.city %>, <%= run_details.state %></p>
    <p><b>Website: </b><a href='<%= run_details.url %>' target="_blank"><%= run_details.url %></a></p>

    <!-- Display associated Users if available -->
    <% if (run_details.users && run_details.users.length > 0) { %>
      <h2>Registered Users:</h2>
      <ul>
        <% run_details.users.forEach(function (user) { %>
          <li>
            <a href="/users/<%= user.id %>"><%= user.first_name %> <%= user.last_name %></a>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <p>No registered users for this run.</p>
    <% } %>
    
    <%- include('../footer.ejs') -%>
    