<%- include('../header.ejs') -%>


    <h1><%= title %></h1>
    <table>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Email</th>
            <th>Gender</th>
        </tr>
        <% userlist.forEach( (user) => { %>
            <tr>
                <td><a href='/users/<%= user.id %>'><%= user.first_name %></a></td>
                <td><a href='/users/<%= user.id %>'><%= user.last_name %></a></td>
                <td><%= user.email %></td>
                <td><%= user.gender %></td>
            </tr>
        <% } ) %>
    </table>

<%- include('../footer.ejs') -%>